BasedOnStyle: Microsoft
Language: Cpp
Standard: Latest
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
BreakBeforeBraces: Allman
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<volk\.h>$'
    Priority: 1
  - Regex: '^<.*\.(h|hpp)>$'
    Priority: 2
  - Regex: '^"'
    Priority: 3
  - Regex: '^<[a-z_]+>$'
    Priority: 4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertNewlineAtEOF: true
